#TodoHistoryTodoItem {
  padding:2px 8px 8px 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  .text {
    font-size: 14px;
    .time {
      color: #999;
      margin-right: 8px;
    }

    .description {
      color: #222;
    }
  }

  .action {
    display: none;

    span {
      color: deepskyblue;
      cursor: pointer;

      &:first-child {
        margin-right: 8px;
      }
    }
  }

  &:hover {
    background: #f4f4f4;

    .action {
      display: block;
    }
  }
}