#TomatoList {
  margin-top: 16px;
  border-top: 1px solid #ddd;
  height: 36vh;
  overflow: auto;
  .dailyTomatoes {
    padding-top: 16px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      img{
        width: 20px;
        height: 20px;
      }
      .dateTime {
        color: #999;
        font-size: 16px;
      }

      .finishedCount {
        color: #666;
        font-size: 12px;
        >strong{
          color: #ff3000;
          font-size: 16px;
        }
      }
    }

    .TomatoItem {
      font-size: 14px;
      margin: 4px 0;

      .timeRange {
        color: #999;
      }

      .description {
        color: #222;
        margin-left: 8px;
      }
    }
  }
}