#TomatoAction {

  .countDownWrapper,
  .inputWrapper {
    position: relative;
  }

  .startTomatoButton {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  .abort {
    position: absolute;
    right: -6px;
    top: -6px;
    background: #fff;
    background: pointer;
  }
}