#Home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    >.logo{
      display: flex;
      line-height: 2em;
      >img{
        width: 36px;
        height: 36px;
        margin-right: 4px;
      }
    }
  }

  >main {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}