#Home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
  }

  >main {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
}